body {
  background-color: #f9f9f9;
}
.hero-section {
  background: url("/src/components/Assets/about_banner.jpg") no-repeat center
    center;
  background-size: cover;
  color: white;
  padding: 180px 15px;
  text-align: center;
  margin-top: 110px;
}
.hero-section h1 {
  font-size: 3rem;
}
.hero-section p {
  font-size: 1.25rem;
}

.first-text-left > p {
  font-size: 0.95rem;
  font-weight: 350;
  color: whitesmoke;
 
  
}
.first-text-left > button {
  background-color: #0078d4;
  color: white;
  width: 130px;
  height: 45px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.about-section {
  padding: 50px 15px;
}
.team-section img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.services-section {
  /* background: #0078d4; */
  color: white;
  padding: 50px 15px;
}
.services-section h3 {
  font-weight: bold;
}
