span{
    font-size: 90px;
    font-weight: bold;
}
.related-left{
    width: 700px;
}
.related-left p{
    font-size: 64px;
    font-weight: bold;
}

.btn-buy{
    color: white;
    width: 182px; 
    height: 72px; 
    border: none;
    background-color: rgb(0, 0, 0);
}
.btn-info{
    width: 327px; 
    height: 72px; 
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
}
.related-product h1{
    color: black;
}

:root {
    --text-color: #ffffff;
  }
  
  .dark-mode .related-product h1{
    --text-color: #ffffff;
    color: var(--text-color);
  } 