body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.6s;
  }
  
  :root {
    --base-color: white;
    --text-color: #000000;
  }
  
  body.dark-mode {
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 
 
  button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
  } 
  