.card-item{
    margin: 100px 170px;

}
.card-item hr{
    background-color: rgb(0, 0, 0);
    height: 3px;
    border: 0;
    width: 100%;
    color: black;
}
.card-item-format-main{
    display: grid;
    border: 1px solid white;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    z-index: 1;
    gap: 75px;
    padding: 20px 10px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.card-item-formate{
    font-size: 17px;
    font-weight: 500;
}
.card-icon-product-icon {
    display: block;
    width: auto;
    max-width: 100%; /* Adjust as needed */
    height: auto;
  }
  

.card-item-remove-icon{
    cursor: pointer;
    width: 15px;
    color: black;
    margin: 0 40px;

}
.card-item-quantity{
    width: 64px;
    height: 50px;
    color: black;
   
}

.card-item-down{
    display: flex;
    padding: 20px;
    border: 1px solid white;
    margin: 100px 0px;
}
.card-item-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.card-item-total-item{
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
    padding: 15px 15px;

}
.card-item-total-item h3{
    color: red;
    font-weight: bold;
}
.card-item-total button{
    width: 262px;
    height: 58px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.card-item-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;


}
.card-item-promocode p{
    color: #000000;
}
.card-item-promo-box{
    width: 504px;
    margin-top: 15px;
    height: 58px;
    background-color: #eaeaea;
}
.card-item-promo-box input{
    border: none;

    outline: none;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.card-item-promo-box button{
    width: 170px;
    border: 1px solid white;
    height: 50px;
    font-size: 16px;
    margin-left: 1px;
    background: black;
    cursor: pointer;
    color: white;
}


.dark-mode .card-item-format-main{
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 
  
  .dark-mode .card-item-quantity{
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 
  .dark-mode .card-item hr{
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 
 
  .dark-mode .card-item-down{
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 
  .dark-mode .card-item-promocode p{
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 

  .dark-mode .card-item-promo-box{
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 
  .dark-mode .card-item-promo-box input{
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 