.product-container{
    width: 85%;
    background-color: rgb(235, 235, 235);
    margin: auto;
}
.choose-menu{
    width: 450px;
    
}

.item-container{
    width: 100%;
    background-color: blue;
}
.card-container{
    width: 100%;
    background-color: rgb(235, 235, 235);
}