.dark-mode .text-brand{
    --base-color: #000000;
    --text-color: #ffffff;
    background-color: var(--base-color);
    color: var(--text-color);
  } 

  .text-brand{
    color: black;
    text-decoration: none;
  }

